<div class="container mt-4">
  <h1 class="text-center mb-4">Places</h1>

  <ul class="list-group">
    <% @places.each do |place| %>
      <li class="list-group-item"><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>

  <div class="text-center mt-4">
    <a href="/places/new" class="btn btn-primary">New Place</a>
  </div>
</div>
